<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quang.app.JavaWeb_cdquang.mappers.OrderItemsMapper">
	<insert id="createOrderItems" parameterType="java.util.List">
		INSERT INTO
			order_items(
				order_id
				, item_id
				, quantity
				)
		VALUES
			<foreach collection="items" item="item" index="index" open="(" separator="),("  close=")">
				#{orderId},
		        #{item.itemId},
		        #{item.numItem}
		    </foreach>
	</insert>
</mapper>